.create-event-form {
    width: 400px;
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.create-event-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.create-event-heading {
    margin-block-start: 0;
    margin-block-end: 0;
    flex: 2;
    text-align: center;
    margin-left: 50px;
}
.create-event-close {
    /* display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer; */
    background-color: #fff;
}

.create-event-form-item {
    display: flex;
    gap: 10px;
}

.create-event-form-item-label {
    width: 150px;
    text-align: left;
}