.create-event-form {
    width: 400px;
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.create-event-close {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

.create-event-form-item {
    display: flex;
    gap: 10px;
}

.create-event-form-item-label {
    width: 150px;
    text-align: left;
}