.navbar {
    padding: 20px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-evenly;    
}

.navbar > div {
    width: 33.3%;
}

.navbar-left {
    text-align: left;
    font-size: 1.125rem;
    font-weight: 800;
}