.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.signup-form-item {
    display: flex;
    flex-direction: column;

}

.signup-form-item-label {
    text-align: left;
    font-weight: 600;
}
.signup-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-form-item-input{
    padding:1.125rem 1rem;
    font-size: 1rem;
}

.signup-form-submit-btn {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding:1.125rem 1rem;
}

@media (max-width:600px) {
    .signup-form {
        width: 90%;
    }
}